.box {
    width: 200px;
    height: 200px;
    background-color: chocolate;

    /* transition-property: width, height;
    transition-duration: 1s, 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out; */

    transition: all 1s ease-in-out 1s;
}

.box:hover {
    width: 400px;
    height: 400px;
}

.text {
    width: 400px;
    padding: 20px;
    background-color: bisque;
    margin: auto;

    overflow: hidden;
}

.text p {
    transform: translateX(430px);
    opacity: 0;

    transition: all 1s;
}

.text:hover p {
    transform: translateX(0px);
    opacity: 1;
}

.thuchanh1 {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    position: relative;
    left: 0px;
    margin: auto;

    transition: all 0.3s ease-in-out 0.3s;
}

.thuchanh1:hover {
    left: 20px;
}

.text h2 {
    transform: translateX(-430px);
    opacity: 0;

    transition: all 1s;
}

.text:hover h2 {
    transform: translateX(0px);
    opacity: 1;
}



/* Thực hành:
1. Sử dụng thuộc tính position để làm hiệu ứng tương tự.
2. Bổ sung thêm 1 thẻ h2 có nội dung bất kỳ, làm tương tự như thẻ p nhưng đi từ trái vào. */
