<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{home::Heading}">
</head>
<body>
  <div class="container">
    <form th:action="@{/update}" method="post" th:object="${cust1}">
      <input type="hidden" placeholder="id" th:field="*{id}"/>
      <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-10">
          <input type="text" name="name" id="name" th:field="*{fullname}">
        </div>
      </div>
      <div class="row mb-3">
        <label for="job" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" name="name" id="job" th:field="*{email}">
        </div>
      </div>
      <div class="row mb-3">
        <label for="birth" class="col-sm-2 col-form-label">Phone</label>
        <input type="date" id="birth" name="birth" th:field="*{phone}">
      </div>
      <div class="row mb-3">
        <button type="submit">Update</button>
      </div>
    </form>
  </div>
</body>
</html>