* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ttt {
    width: auto;
    height: 100vh;
    background-color: #FF6C61;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.heart1 {
    color: white;
    transform: scale(10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-name: animation1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes animation1 {
    0% {
        transform: scale(10);
    }
    50% {
        transform: scale(15);
    }
    100% {
        transform: scale(10);
    }
}

.heart2 {
    color: white;
    transform: scale(10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-name: animation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes animation2 {
    0% {
        transform: scale(10);
        opacity: 0;
        
    }
    50% {
        transform: scale(15);
        opacity: 0.5;
    }
    100% {
        transform: scale(20);
        opacity: 0;
    }
}
