/* clear 1 số thuộc tính về trạng thái ban đầu */
* {
    margin: 0;
    /* margin là khoảng cách từ border sang bên ngoài */
    padding: 0;
    /* padding là khoảng cách từ nội dung đến border */
    box-sizing: border-box;
    /* box sizing dùng để kiểm soát kích thước của 1 phần tử. Luôn - width/height phần từ. */
}

body {
    font-family:'Roboto', sans-serif;
}

/* Auto xuất hiện khi trang web có ảnh*/
img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.card {
    width: 320px;
    box-shadow: 0 1px 3px;
    margin:auto;
    margin-top: 50px;
    border-radius: 4px;
    overflow: hidden; 
}

.content{
    padding: 20px;
}

.title {
    font-size: 19px;
    color: #464646;
    font-weight: 400;
}

.type, .rating {
    font-size: 14px;
    color: #757575;
    font-weight: 100;
}

.type {
    margin: 5px 0;

}

.rating span {
    color: #ffd600;
}

