* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color:darkgray;
}

.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 80px;
}