* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* CSS Header */
.header ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.header {
    background-color: #30598C;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
}

.sidebar {
    display: flex;
    align-items: center;
}

/* ul là con trực tiếp của menu (Tức là là con trực tiếp của menu) */

/* style menu */
.menu > ul {
    display: flex;
}

.menu-item {
    color: #fff;
    font-size: 15px;
    margin: 0 15px;
    position: relative;
    height: 60px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.menu-item span {
    margin-left: 10px;
}

.menu-item:hover {
    color: #C4C4C4;
}

.menu-item:hover .sub-menu {
    display: block;
}

.avatar {
    position: relative;
    height: 60px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.avatar > .sub-menu {
    width: 500%;
}

.avatar:hover .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    top: 100%;
    right: 0;

    width: 200%;
    background-color: #fff;
    border-radius: 4px;
    color: #212529;

    display: none;
}

.sub-menu-item {
    padding: 11px 16px;
    cursor: pointer;
    text-align: center;
}

.sub-menu-item:hover {
    background-color: #C4C4C4;
    color: #fff;
}

/* style shopping cart */
.cart {
    position: relative;
    margin-right: 30px;
    color: #fff;
}

.cart-count {
    position: absolute;
    font-size: smaller;
    font-weight: bold;
    bottom: 7px;
    background-color: #26A69A;
    border-radius: 4px;
    padding: 1px 4px;
}

.avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* CSS Body */
.card {
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    margin:auto;
    border-radius: 5px;
    overflow: hidden; 
}

.card .image {
    height: 240px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    padding: 20px;
}

.title {
    font-size: 19px;
    color: #464646;
    font-weight: 400;
}

.type, .rating {
    font-size: 14px;
    color: #757575;
    font-weight: 100;
}

.type {
    margin: 5px 0;
}

.rating span {
    color: #ffd600;
}

.container {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.courses-item {
    flex-basis: 33.3%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.container a {
    text-decoration: none;
}

.footer {
    width: 1200px;

    display: flex;
    flex-wrap: wrap;

    background-color: #30598C;
    color: #fff;
    width: 100%;
    padding: 20px 15px;
    margin-right: auto;
    margin-left: auto;
    line-height: 2;
    justify-content: space-around;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    color: #C4C4C4;
    text-decoration: underline;
}

.footer-item {
    flex-basis: 20%;
}

.footer h2 {
    font-weight: 400;
}

.footer-item li {
    display: list-item;
    list-style: none;
}
